 *{padding:0;
  margin:0;}

 #nabar-homepage {justify-content: space-between;
                  background-color: black;
                  color: white;}

                  #navbarnav a li{justify-content: space-between;
                              gap: 10px;}


        